<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title_message}">Timesheet Management System</title>
  <header th:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.esm.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.rtl.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.rtl.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-utilities.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-utilities.rtl.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.rtl.min.css}" />
  </header>
</head>
<body>

</body>
</html>