<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
   <title th:text="${title_message}">Timesheet Management System</title>
   <title></title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script th:src="@{/js/bootstrap.min.js}"></script>
   <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
   <script th:src="@{/js/bootstrap.esm.min.js}"></script>
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.rtl.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.rtl.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-utilities.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-utilities.rtl.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.rtl.min.css}" />
</head>

<body class=" container-fluid">
   <dl>
      <dt>Definition list</dt>
      <dd></dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
   commodo consequat.</dd>
      <dt>Lorem ipsum dolor sit amet</dt>
      <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
   aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
   commodo consequat.</dd>
   </dl>
</body>

</html>